body {
  background: #fff8dc;
  font-family: 'Georgia', serif;
  color: #222;
  text-align: center;
  margin: 0!important;
  padding: 40px;
}

.main {
  max-width: 700px;
  margin: auto;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 30px;
}

.poema p {
  font-size: 1.2em;
  line-height: 1.7;
  margin: 0 0 40px 0;
}

.nav-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 2.5em;
  text-decoration: none;
  color: #444;
  cursor: pointer;
  transition: color 0.3s;
}

.arrow:hover {
  color: #888;
}

.container {
  width: 100%;
  height: 100vh;
}

.toppane {
  width: 100%;
  height: 100px;
  background-color: #4da6ff;
}

.leftpane {
  width: 25%;
  height: 100vh;
}

.middlepane {
  width: 50%;
  height: 100vh;
}

.rightpane {
  width: 25%;
  height: 100vh;
}


.d-flex {
  display: flex;
}
